<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<meta name="robots" content="index,follow">
	<title>CriptoArgentina.net</title>
	<meta name="description" content="Cripto para una sociedad resiliente." />
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">

	{% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta property="og:title" content="{{ page.title || escape }} - {{ site.title }}" />
    {% else %}
        <title>{{ site.title }}</title>
        <meta property="og:title" content="{{ site.title }}" />
    {% endif %}

	{% if page.css %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ page.css }}.css" />
    {% endif %}

    {% if layout.css %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ layout.css }}.css" />
    {% endif %}
</head>